.cart-modal {
  position: absolute;
  top: 372px;
  left: 50%;
  z-index: 2;

  display: none;
  box-sizing: border-box;
  width: 500px;
  height: 439px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 45px;

  background: #ffffff;
  box-shadow: 0 4px 32px rgba(121, 121, 121, 0.24);
  transform: translate(-50%, 0);
}


.cart-modal--active {
  display: block;
}

.cart-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 14px;
  height: 14px;

  background-image: url("../../img/cross-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-modal__header {
  margin: 0;
  margin-bottom: 15px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
}

.cart-modal__price {
  margin: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.cart-modal__text {
  margin: 0;
  margin-bottom: 45px;

  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  text-align: center;
}

.cart-modal__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 68px;
  margin-left: auto;
}

.cart-modal__quantity-text {
  margin: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.cart-modal__button {
  position: absolute;
  right: 35px;

  width: 14px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-modal__button-more {
  top: 123px;

  height: 14px;

  background-image: url("../../img/plus-icon.svg");
}

.cart-modal__button-less {
  top: 189px;

  height: 2px;

  background-image: url("../../img/minus-icon.svg");
}

.cart-modal__item {
  display: flex;
  align-items: center;
  min-height: 79px;
  margin-bottom: 40px;
  padding-right: 35px;
  padding-left: 35px;
}

.cart-modal__img {
  width: 84px;
  height: 79px;
  margin-right: 15px;
}

.cart-modal__total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-right: 35px;
  padding-bottom: 15px;
  padding-left: 35px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  border-top: 1px solid #f6f5f4;
}

.cart-modal__total-item {
  margin: 0;
}

.cart-modal__total-price {
  margin: 0;

  font-weight: 500;
}

.cart-modal__links {
  display: flex;
  justify-content: space-between;
  padding-right: 35px;
  padding-left: 35px;
}

.cart-modal__link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 200px;
  height: 68px;

  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #1d1613;
  text-decoration: none;

  border: 1px solid #a87b62;
}

.cart-modal__link:hover {
  opacity: 70%;
}

.cart-modal__link:active {
  opacity: 50%;
}

.cart-modal__link--checkout {
  color: #ffffff;

  background-color: #a87b62;
}


@media (max-width: $desktop-width) {
  .cart-modal {
    top: 258px;

    width: 502px;
  }

  .cart-modal__button-close {
    top: 21px;
    right: 21px;
  }

  .cart-modal__total {
    padding-right: 30px;
    padding-left: 30px;
  }

  .cart-modal__button {
    right: 30px;
  }

  .cart-modal__button-more {
    top: 127px;
  }

  .cart-modal__button-less {
    top: 193px;
  }

  .cart-modal__item {
    padding-right: 30px;
    padding-left: 30px;
  }

  .cart-modal__links {
    padding-right: 30px;
    padding-left: 30px;
  }

  .cart-modal__link {
    width: 206px;
  }

  .cart-modal__img {
    width: 88px;
  }
}

@media (max-width: $tablet-width) {
  .cart-modal {
    top: 117px;

    width: 290px;
    height: 519px;
  }

  .cart-modal__img {
    width: 70px;
    height: 63px;
  }

  .cart-modal__text {
    display: block;
    width: 187px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    font-family: "Cormorant Garamond", "Arial", sans-serif;
  }

  .cart-modal__item {
    min-height: 63px;
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .cart-modal__header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
  }

  .cart-modal__price {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
  }

  .cart-modal__quantity {
    height: 62px;
  }

  .cart-modal__total {
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
  }

  .cart-modal__total-item {
    margin-bottom: 15px;
  }

  .cart-modal__links {
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
  }

  .cart-modal__link {
    width: 260px;
    margin-bottom: 20px;
  }

  .cart-modal__link:last-of-type {
    margin-bottom: 0;
  }

  .cart-modal__button-close {
    top: 15px;
    left: 15px;
  }

  .cart-modal__button {
    right: 15px;
  }
}
