.company-info {
  padding-top: 7px;
  display: flex;
  flex-direction: column;
}

.company-info__link {
  margin-bottom: 22px;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

.company-info__link:hover {
  opacity: 70%;
}

.company-info__link:active {
  opacity: 50%;
}

.company-info__link:last-child {
  margin-bottom: 0;
}

@media (max-width: $tablet-width) {
  .company-info {
    padding-top: 0;
    width: 100%;
    margin-bottom: 42px;
  }
}
