.company-info {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
}

.company-info__link {
  margin-bottom: 22px;

  list-style: none;
  color: #ffffff;
  text-decoration: none;
}

.company-info__link:hover {
  opacity: 70%;
}

.company-info__link:active {
  opacity: 50%;
}

.company-info__link:last-child {
  margin-bottom: 0;
}

@media (max-width: $desktop-width) {
  .company-info {
    padding-top: 7px;
  }
}

@media (max-width: $tablet-width) {
  .company-info {
    width: 100%;
    margin-bottom: 42px;
    padding-top: 0;
  }
}
