.faq {
  width: 970px;
  margin: 0 auto;
  margin-bottom: 120px;
  padding-right: 30px;
  padding-left: 30px;
}

.faq h2 {
  margin: 0;
  margin-bottom: 50px;

  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  text-align: center;
}


.faq__items {
  box-sizing: border-box;
  width: 100%;
  max-width: 970px;

  border: 1px solid #a87b62;
}

.faq__item {
  position: relative;

  box-sizing: border-box;
  height: auto;
  padding-bottom: 42px;

  border-top: 1px solid #a87b62;
}

.faq__item--active p {
  display: block;
}

.faq__item:first-child {
  border-top: none;
}

.faq__item p {
  display: none;
  margin: 0;
  margin-top: 8px;
  margin-right: 42%;
  margin-left: 45px;
}

.faq__item h3 {
  margin: 0;
  margin-left: 45px;
  padding-top: 44px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.faq__item br {
  display: none;
}

.faq__button {
  position: absolute;
  right: 50px;

  width: 16px;
  height: 10px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.faq__button--up {
  top: 50px;

  display: none;
}

.faq__button--down {
  top: 50px;

  background-image: url("../../img/arrow-bottom-icon.svg");
}

.faq__item--active .faq__button--up {
  display: block;

  background-image: url("../../img/arrow-top-icon.svg");
}

.faq__item--active .faq__button--down {
  display: none;
}

@media (max-width: $desktop-width) {
  .faq {
    box-sizing: border-box;
    width: 768px;
    margin-bottom: 72px;
    padding-right: 5.8%;
    padding-left: 5.8%;
  }

  .faq__item {
    padding-bottom: 43px;
  }

  .faq__item p {
    margin-top: 26px;
    margin-right: 100px;
  }

  .faq__button {
    width: 25px;
    height: 15px;
  }

  .faq__button--down {
    background-image: url("../../img/arrow-bottom-icon__tablet.svg");
  }

  .faq__item--active .faq__button--up {
    background-image: url("../../img/arrow-top-icon__tablet.svg");
  }
}

@media (max-width: $tablet-width) {
  .faq {
    width: 320px;
    margin-bottom: 56px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .faq h2 {
    margin-bottom: 28px;
  }

  .faq__items {
    width: 290px;
    margin: 0 auto;
  }

  .faq__item {
    padding-bottom: 21px;
  }

  .faq__item h3 {
    max-width: 206px;
    margin-left: 25px;
    padding-top: 16px;

    font-size: 16px;
    line-height: 22px;
  }

  .faq__item br {
    display: inline;
  }

  .faq__item p {
    box-sizing: border-box;
    width: 209px;
    margin-top: 16px;
    margin-left: 24px;

    font-size: 14px;
    line-height: 20px;
  }

  .faq__button {
    top: 20px;
    right: 21px;

    width: 25px;
    height: 15px;
  }

  .faq__button--down {
    background-image: url("../../img/arrow-bottom-icon__mobile.svg");
  }

  .faq__button--up {
    background-image: url("../../img/arrow-top-icon__mobile.svg");
  }

  .faq__item span {
    display: block;
  }
}
