.filter {
  width: 250px;
  min-height: 460px;
  margin-right: 50px;
}


.filter button {
  cursor: pointer;
}


.filter__form {
  height: 100%;
  margin: 0;
}

.filter__open button {
  display: none;
}

.filter__group {
  position: relative;

  box-sizing: border-box;
  width: 250px;
  padding-top: 24px;
  padding-right: 25px;
  padding-bottom: 23px;
  padding-left: 25px;

  border: 1px solid #a87b62;
  border-bottom: none;
}

.filter__group--bottom {
  margin-bottom: 30px;

  border-bottom: 1px solid #a87b62;
}


.filter h3 {
  cursor: pointer;
  margin: 0;

  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}


.filter__group--active h3 {
  margin-bottom: 23px;
}

.filter ul {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.filter__group--active ul {
  display: block;
}

.filter__range {
  display: none;
}

.filter__group--active .filter__range {
  display: block;
}

.filter label {
  position: relative;

  cursor: pointer;
}

.filter input:checked + label::before {
  background-color: #a87b62;
}

.filter label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -25px;

  box-sizing: border-box;
  width: 15px;
  height: 15px;

  border: 1px solid #a87b62;
}

.filter label:hover {
  opacity: 70%;
}

.filter label:active {
  opacity: 50%;
}

.filter li {
  margin-bottom: 13px;
  padding-left: 35px;

  cursor: pointer;
}

.filter li:last-child {
  margin-bottom: 0;
}

.filter__button {
  position: absolute;
  right: 25px;

  width: 16px;
  height: 10px;

  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.filter__button--up {
  top: 30px;

  display: none;
}

.filter__button--down {
  top: 30px;

  background-image: url("../img/arrow-bottom-icon.svg");
}

.filter__group--active .filter__button--up {
  display: block;

  background-image: url("../img/arrow-top-icon.svg");
}

.filter__group--active .filter__button--down {
  display: none;
}

.filter__submit button {
  box-sizing: border-box;
  width: 250px;
  height: 68px;
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;

  background: #a87b62;
  border: 1px solid #a87b62;
  outline: none;
}

.filter__reset button {
  display: block;
  margin: 0 auto 60px;

  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  font-family: "Poppins", "Arial", sans-serif;
  color: #1d1613;
  text-decoration: none;

  border-bottom: 1px solid #a87b62;
  outline: none;
}

.filter__submit button:hover,
.filter__reset button:hover {
  opacity: 70%;
}

.filter__submit button:active,
.filter__reset button:active {
  opacity: 50%;
}


@media (max-width: $desktop-width) {
  .filter {
    position: relative;

    width: 442px;
    min-height: 68px;
    margin-bottom: 50px;

    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
  }

  .filter__form {
    display: none;
  }

  .filter__open button {
    display: block;
    box-sizing: border-box;
    width: 678px;
    height: 68px;

    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;

    background: #a87b62;
    border: 1px solid #a87b62;
  }

  .filter__close button {
    position: absolute;
    top: -16px;
    right: -16px;

    display: none;
    width: 32px;
    height: 32px;

    background-image: url("../img/cross-in-circle.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .filter--active .filter__form {
    display: block;
  }

  .filter--active .filter__open button {
    display: none;
  }

  .filter--active .filter__close button {
    display: block;
  }

  .filter--active .filter {
    width: 458px;
    height: auto;
    min-height: 758px;
    margin-right: 0;
  }

  .filter__button {
    top: 40px;
    right: 40px;

    width: 25px;
    height: 15px;
  }

  .filter__group--active .filter__button--up {
    background-image: url("../img/arrow-top-icon__tablet.svg");
  }

  .filter__group--bottom {
    margin-bottom: 40px;
  }

  .filter__button--down {
    background-image: url("../img/arrow-bottom-icon__tablet.svg");
  }

  .filter__group {
    box-sizing: border-box;
    width: 442px;
    padding: 40px;

    border: none;
    border-bottom: 1px solid #a87b62;
  }

  .filter h3 {
    font-size: 18px;
    line-height: 23px;
  }

  .filter ul {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }

  .filter__submit button {
    box-sizing: border-box;
    width: 362px;
    margin-right: 40px;
    margin-left: 40px;
  }

  .filter__reset button {
    display: block;
    box-sizing: border-box;
    width: 362px;
    height: 68px;
    margin-right: 40px;
    margin-left: 40px;

    border: 1px solid #a87b62;
  }
}

@media (max-width: $tablet-width) {
  .filter {
    width: 280px;
    margin-bottom: 40px;

    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
  }

  .filter__group {
    width: 280px;
    padding: 20px;
  }

  .filter__group--bottom {
    margin-bottom: 30px;
  }

  .filter__open button {
    width: 290px;
  }

  .filter__submit button {
    width: 230px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .filter__reset button {
    width: 230px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .filter__button {
    top: 20px;
    right: 20px;
  }
}
