.goods {
  margin-bottom: 75px;
}

.goods__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style: none;
}

.goods__item {
  width: 31.3%;
  margin-right: 3%;
  margin-bottom: 35px;
}

.goods__item img {
  width: 100%;
  height: 272px;
  margin-bottom: 16px;
}

.goods__item:nth-of-type(3n) {
  margin-right: 0;
}

.goods__name {
  margin: 0;
  margin-bottom: 8px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.goods__price {
  margin: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.goods__navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.goods__pages {
  display: flex;
  min-width: 128px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}


.goods__page {
  margin-right: 13px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #9b9997;
  text-decoration: none;
}

.goods__page--active {
  color: #1d1613;
}

.goods__nav-link {
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #1d1613;
  text-decoration: none;
}

.goods__break {
  display: none;
}

@media (max-width: $desktop-width) {
  .goods__item {
    width: 206px;
    margin-bottom: 34px;
  }

  .goods__name {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 200px;
    min-height: 40px;
    margin: 0 auto;
    margin-top: auto;
  }

  .goods img {
    height: 208px;
    margin-bottom: 4px;
  }

  .goods__list {
    justify-content: space-between;
  }

  .goods__navigation {
    width: 678px;
  }

  .goods__break {
    display: inline;
  }

  .goods__break--not-tablet {
    display: none;
  }
}


@media (max-width: $tablet-width) {
  .goods {
    margin-bottom: 66px;
  }

  .goods__list {
    margin-bottom: 15px;
  }

  .goods__item {
    width: 130px;
    margin-bottom: 25px;
  }

  .goods__navigation {
    width: 290px;
  }

  .goods__pages {
    width: 138px;
  }

  .goods__page {
    margin-right: 23px;
  }

  .goods img {
    height: 136px;
    margin-bottom: 9px;
  }

  .goods__break--not-mobile {
    display: none;
  }

  .goods__break--not-tablet {
    display: inline;
  }

  .goods__item:nth-of-type(2n) {
    margin-right: 0;
  }

  .goods__name {
    width: 138px;
    margin-bottom: 10px;
  }


  .goods__nav-link {
    display: none;
  }
}
