.login {
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 2;

  display: none;
  box-sizing: border-box;
  width: 430px;
  height: 586px;
  padding-top: 150px;
  padding-right: 45px;
  padding-left: 45px;

  background: #f0eae4;
  background-image: url("../../img/log-in-bg__desktop.png");
  background-repeat: no-repeat;
  box-shadow: 0 5px 32px rgba(226, 221, 215, 0.24);
  transform: translate(-50%, 0);
}

.login--active {
  display: block;
}


.login__header {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  text-align: center;
}

.login__input {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  margin-bottom: 40px;

  list-style: none;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1d1613;
  outline: none;
}

.login__input:last-of-type {
  margin-bottom: 5px;
}

.login__input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9b9997;
}

.login__link {
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9b9997;
  text-decoration: none;
}

.login__link--sign-up {
  display: block;
  width: 224px;
  margin: 0 auto;
}

.login__link--sign-up span {
  margin-left: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1d1613;
}

.login__link--forgot {
  display: block;
  width: 139px;
  margin-left: auto;

  font-size: 12px;
  line-height: 18px;
}

.login__button-enter {
  outline: none;
  width: 340px;
  height: 68px;
  margin-top: 45px;
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;

  background: #a87b62;
  border: 1px solid #a87b62;
}

.login__button-enter:hover {
  opacity: 70%;
}

.login__button-enter:active {
  opacity: 50%;
}

.login__close {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 14px;
  height: 14px;

  background-image: url("../../img/cross-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (max-width: $desktop-width) {
  .login {
    width: 442px;
    padding-right: 50px;
    padding-left: 50px;

    background-image: url("../../img/log-in-bg__tablet.png");
  }

  .login__close {
    width: 20px;
    height: 20px;

    background-image: url("../../img/big-cross-icon.svg");
  }
}

@media (max-width: $tablet-width) {
  .login {
    left: 30%;
    width: 270px;
    height: 470px;
    padding-top: 120px;
    padding-right: 15px;
    padding-left: 15px;

    background-image: url("../../img/log-in-bg__mobile.png");
  }

  .login__button-enter {
    width: 240px;
    margin-top: 30px;
  }

  .login__close {
    width: 14px;
    height: 14px;

    background-image: url("../../img/cross-icon.svg");
  }

  .login__header {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
  }
}
