.login {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 2;

  display: none;
  box-sizing: border-box;
  max-width: 430px;
  min-width: 270px;
  width: 31%;
  height: 586px;
  padding-top: 188px;
  padding-right: 45px;
  padding-left: 45px;

  background: #f0eae4;
  background-image: url("../img/log-in-bg__desktop.png");
  background-repeat: no-repeat;
  background-size: 100% 138px;
  box-shadow: 0 5px 32px rgba(226, 221, 215, 0.24);
  transform: translate(-50%, 0);

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/log-in-bg__desktop@2x.png");
  }
}

.login--active {
  display: block;
}


.login h2 {
  margin: 0;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  text-align: center;
}

.login input {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  margin-bottom: 38px;

  list-style: none;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1d1613;
  outline: none;
}

.login input:hover,
.login input:active {
  border: 1px solid #1d1613;
  opacity: 75%;
}

.login input:last-of-type {
  margin-bottom: 5px;
}

.login input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #9b9997;
}

.login__link {
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9b9997;
  text-decoration: none;
}

.login__link:hover {
  opacity: 70%;
}

.login__link:active {
  opacity: 50%;
}

.login__link--sign-up {
  display: block;
  width: 224px;
  margin: 0 auto;
}

.login__link--sign-up span {
  margin-left: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1d1613;
}

.login__link--forgot {
  display: block;
  width: 139px;
  margin-left: auto;

  font-size: 12px;
  line-height: 18px;
}

.login__enter button {
  width: 100%;
  height: 68px;
  margin-top: 45px;
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;

  background: #a87b62;
  border: 1px solid #a87b62;
  outline: none;
  cursor: pointer;
}

.login__enter button:hover {
  opacity: 70%;
}

.login__enter button:active {
  opacity: 50%;
}

.login__close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.login__close button {
  width: 14px;
  height: 14px;

  background-image: url("../img/cross-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  outline: none;
  cursor: pointer;
}

.login__close button:hover,
.login__close button:focus {
  opacity: 70%;
}

.login__close button:active {
  opacity: 50%;
}

@media (max-width: $desktop-width) {
  .login {
    width: 58%;
    max-width: 442px;
    padding-right: 50px;
    padding-left: 50px;

    background-image: url("../img/log-in-bg__tablet.png");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/log-in-bg__tablet@2x.png");
    }
  }

  .login__close button {
    width: 20px;
    height: 20px;

    background-image: url("../img/big-cross-icon.svg");
  }
}

@media (max-width: $tablet-width) {
  .login {
    left: 50%;

    height: 470px;
    padding-top: 120px;
    padding-right: 15px;
    padding-left: 15px;

    background-image: url("../img/log-in-bg__mobile.png");
    background-size: 100% 84px;


    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/log-in-bg__mobile@2x.png");
    }
  }

  .login__enter button {
    margin-top: 30px;
  }

  .login__close button {
    width: 14px;
    height: 14px;

    background-image: url("../img/cross-icon.svg");
  }

  .login h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
  }
}
