.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-width: 1024px;
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 7%;
  padding-left: 7%;
}

.main-header__menu-button {
  display: none;
}

.main-header__cart-button {
  display: none;
}

.main-header__user {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 33%;
  min-width: 122px;
}

.main-header__user-link {
  display: flex;
  align-items: center;
  margin-right: 35px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  font-family: "Poppins", "Arial", sans-serif;
  color: #1d1613;
  text-decoration: none;
}

.main-header__user-link:last-child {
  margin-right: 0;
}

.main-header__user-link span {
  margin-left: 5px;
}

.main-header__user-link:hover {
  opacity: 70%;
}

.main-header__search {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 33%;
  min-width: 169px;
  padding-left: 30px;
}

.main-header__search-svg {
  position: absolute;
  top: 3px;
  left: 1px;

  width: 14px;
  height: 14px;
}

.main-header__search input {
  box-sizing: border-box;
  width: 140px;
  height: 15px;

  border: 1px solid white;
  outline: none;
}

.main-header__search input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  font-family: "Poppins", "Arial", sans-serif;
  color: #1d1613;
}

.main-header__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34%;
}

.main-header__search input:hover,
.main-header__search input:active {
  border-color: #1d1613;
  opacity: 75%;
}

.main-header__user-link:active {
  opacity: 50%;
}


.main-header__nav {
  box-sizing: border-box;
  width: 100%;
  max-width: 1170px;
  min-height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 0;
  padding-top: 19px;
  padding-bottom: 21px;

  border-top: 1px solid #f6f5f4;
}

.main-header__nav-item:hover {
  opacity: 70%;
}

.main-header__nav-item:active {
  opacity: 50%;
}

.main-header__nav-list {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 493px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.main-header--no-nav .main-header__nav {
  display: none;
}

.main-header--no-nav {
  margin-bottom: 90px;
}


.main-header a {
  list-style: none;
  color: #1d1613;
  text-decoration: none;
}

.main-header__for-customers {
  display: none;
}


.main-header__nav-item:last-child {
  margin-right: 0;
}


@media (max-width: $desktop-width) {
  .main-header--open .main-header__user,
  .main-header--open .main-header__search,
  .main-header--open .main-header__for-customers {
    display: flex;
  }

  .main-header--open .main-header__nav {
    display: block;
  }

  .main-header--no-nav {
    margin-bottom: 0;
  }

  .main-header--open {
    padding-bottom: 80px;

    color: #ffffff;

    background-color: #a87b62;
  }


  .main-header--open .main-header__logo-link path {
    fill: #ffffff;
  }

  .main-header {
    position: relative;

    align-items: stretch;
    min-width: 768px;
    padding-right: 5.8%;
    padding-left: 5.8%;
  }

  .main-header a {
    color: #ffffff;
  }

  .main-header__nav {
    box-sizing: border-box;
    width: 100%;
    margin-top: 0;

    border: none;
  }

  .main-header__nav-list {
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 0;

    font-size: 24px;
    line-height: 36px;
  }

  .main-header__nav-item {
    margin-bottom: 30px;
  }


  .main-header__for-customers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;

    font-size: 18px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.75);
  }

  .main-header__for-customers a {
    margin-bottom: 25px;

    color: rgba(255, 255, 255, 0.75);
  }

  .main-header--open .main-header__logo-link {
    margin-bottom: 40px;
  }

  .main-header__logo-link {
    order: -1;
    width: 100%;
    margin-bottom: 30px;
  }


  .main-header__search {
    width: 100%;
    margin-bottom: 55px;
    padding-left: 0;
  }

  .main-header__search-svg {
    top: 35%;
    left: 6%;

    width: 18px;
    height: 16px;
  }

  .main-header__search-svg path {
    fill: white;
  }

  .main-header__search form {
    width: 100%;
  }

  .main-header__search input {
    width: 100%;
    height: 45px;
    padding-left: 50px;

    background-color: rgba(255, 255, 255, 0.15);
    border-color: transparent;
    border-radius: 21px;
  }

  .main-header__search input:hover,
  .main-header__search input:focus {
    border-color: white;
  }

  .main-header__search input::placeholder {
    color: transparent;
  }

  .main-header__user {
    justify-content: flex-start;
    order: 1;
    width: 100%;

    font-size: 18px;
    line-height: 23px;
  }

  .main-header__user-link {
    font-size: 18px;
    line-height: 23px;
  }

  .main-header__user-link--cart {
    display: none;
  }

  .main-header__menu-button {
    position: absolute;
    top: 55px;
    left: 6%;

    display: block;
  }

  .main-header__cart-button {
    position: absolute;
    top: 55px;
    right: 6%;

    display: block;
  }

  .main-header--open path {
    stroke: white;
  }

  .main-header__user,
  .main-header__nav,
  .main-header__for-customers,
  .main-header__search {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .main-header {
    min-width: 320px;
    margin: 0 auto;
    padding-top: 20px;
    padding-right: 4.6%;
    padding-left: 4.6%;
  }


  .main-header__logo-link {
    margin-bottom: 20px;
  }

  .main-header__logo-link svg {
    width: 52px;
    height: 52px;
  }

  .main-header--open .main-header__logo-link {
    margin-bottom: 30px;
  }

  .main-header__menu-button {
    top: 38px;
    left: 5%;
  }

  .main-header__cart-button {
    top: 38px;
    right: 4%;
  }
}
