.order-info {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.order-info__link {
  margin-bottom: 22px;

  list-style: none;
  color: #ffffff;
  text-decoration: none;
}

.order-info__link:hover {
  opacity: 70%;
}

.order-info__link:active {
  opacity: 50%;
}

.order-info__link:last-child {
  margin-bottom: 0;
}


@media (max-width: $tablet-width) {
  .order-info {
    margin-bottom: 38px;
    padding-top: 0;
  }
}
