.order-info {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

.order-info__link {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  margin-bottom: 22px;
}

.order-info__link:hover {
  opacity: 70%;
}

.order-info__link:active {
  opacity: 50%;
}

.order-info__link:last-child {
  margin-bottom: 0;
}



@media (max-width: $tablet-width) {

  .order-info {
    padding-top: 0;
    margin-bottom: 38px;
  }
}
