.range {
  margin: 0 auto;
}

.range__wrap {
  position: relative;
}

.range__price {
  text-align: center;
  color: black;

  background-color: transparent;
}

.range__price-wrap {
  margin: 0 auto;
  display: flex;
  width: 210px;
  margin-top: 12px;
  justify-content: space-between;
}

.range__price input {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: black;

  background: none;
  border: none;
}


.range__scale {
  position: relative;

  width: 200px;
  height: 1px;

  background: #F0EAE4;
}

.range__bar {
  position: absolute;
  width: 90px;
  height: 1px;
  left: 60px;
  background-color: #A87B62;
}


.range__toggle--min {
  position: absolute;
  top: -7px;
  left: 45px;

  width: 20px;
  height: 22px;

  background-color: transparent;
  background-image: url("../../img/toggle-icon.svg");
  background-repeat: no-repeat;
}

.range__toggle--max {
  position: absolute;
  top: -7px;
  left: 149px;

  width: 20px;
  height: 22px;

  background-color: transparent;
  background-image: url("../../img/toggle-icon.svg");
  background-repeat: no-repeat;
}

@media (max-width: $desktop-width) {
  .range {
    margin: 0;
  }

  .range__scale {
    width: 304px;
  }

  .range__bar {
    width: 158px;
  }

  .range__toggle--max {
    left: 216px;
  }

  .range__price-wrap {
    justify-content: flex-start;
    margin: 0;
    margin-top: 10px;
    padding-left: 10px;
    width: 100%;
  }

  .range__price {
    width: 100px;
  }

  .range__price--min {
    margin-right: 60px;
  }
}

@media (max-width: $tablet-width) {
  .range__scale {
    width: 250px;
  }

  .range__bar {
    width: 120px;
  }

  .range__toggle--max {
    left: 174px;
  }
}
