.social-photos {
  box-sizing: border-box;
  margin: 0 auto;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 1024px;
  max-width: 1366px;
  margin-bottom: 120px;
}

.social-photos img {
  max-width: 100%;
  height: auto;
}

.social-photos__header {
  margin: 0;
  margin-bottom: 30px;
  list-style-type: none;
  font-family: 'Cormorant Garamond', "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
}

.social-photos__link {
  min-width: 80px;
  width: auto;
  display: block;
  text-align: center;
  width: 64px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-decoration: none;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #1D1613;

  border-bottom: 1px solid #A87B62;
}

.social-photos__items {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto;
}

.social-photos__wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 15px;
  min-height: 240px;
}

.social-photos__wrap:last-child {
  margin-right: 0;
}

.social-photos__wrap--small {
  width: 19%;
}

.social-photos__wrap--big {
  width: 34%;
}



@media (max-width: $desktop-width) {
  .social-photos {
    padding-left: 5.8%;
    padding-right: 5.8%;
    min-width: 768px;
    width: 768px;
  }


  .social-photos__items {
    min-width: 678px;
    align-items: flex-end;
    height: 240px;
  }
}

@media (max-width: $tablet-width) {
  .social-photos {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 320px;
    width: 320px;
    flex-wrap: wrap;

  }

  .social-photos__items {
    min-width: 290px;
    height: auto;
    align-items: flex-start;
  }

  .social-photos__wrap {
    min-height: auto;
    margin-right: auto;
  }

  .social-photos__wrap--small {
    box-sizing: border-box;
    justify-content: space-between;
    height: auto;
    width: 50%;
    margin-bottom: 15px;
  }

  .social-photos__wrap--small img {
    margin-bottom: 13px;
  }


  .social-photos__wrap--small:last-child {
    display: none;
  }

  .social-photos__wrap--small:nth-child(3) {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 121px;
    align-items: flex-end;
  }

  .social-photos__wrap--small:nth-child(3) .social-photos__img--4 {
    margin-right: 0;
  }

  .social-photos__wrap--small:nth-child(3) .social-photos__img--5 {
    margin-right: 15px;
  }

  .social-photos__wrap--big {
    display: flex;
    height: 226px;
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 35px;
  align-items: flex-start;
  }

  .social-photos__items {
    min-height: 262px;
    flex-wrap: wrap;
  }
}
