.social {

  display: flex;
  flex-direction: column;
}

.social__link {
  position: relative;
  margin-bottom: 25px;
  padding-left: 30px;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

.social__link:hover {
  opacity: 70%;
}

.social__link:active {
  opacity: 50%;
}

.social__link:last-child {
  margin-bottom: 0;
}

.social__link::before {
  content: "";
  top: 3px;
  left: 0;
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social__link--instagram::before {
  width: 15px;
  height: 15px;
  background-image: url("../../img/instagram-icon.svg");
}

.social__text {
  margin: 0;
}

.social__link--facebook::before {
  width: 8px;
  height: 15px;
  background-image: url("../../img/facebook-icon.svg");
}

.social__link--pininterest::before {
  width: 15px;
  height: 15px;
  background-image: url("../../img/pininterest-icon.svg");
}

.social__link--twitter::before {
  width: 15px;
  height: 13px;
  background-image: url("../../img/twitter-icon.svg");
}


@media (max-width: $tablet-width) {
  .social {
    width: 100%;
    flex-direction: row;
  }

  .social__text {
    display: none;
  }

  .social__link {
    padding-left: 0;
    min-width: 30px;
    margin-bottom: 0;
    margin-right: 25px;
  }

  .social__link:last-child {
    margin-right: 0;
  }

  .social__link--facebook::before {
    width: 12px;
    height: 21px;
    background-image: url("../../img/facebook-icon__mobile.svg");
  }

  .social__link--pininterest::before {
    width: 20px;
    height: 21px;
    background-image: url("../../img/pininterest-icon__mobile.svg");
  }

  .social__link--twitter::before {
    width: 20px;
    height: 18px;
    background-image: url("../../img/twitter__mobile.svg");
  }

  .social__link--instagram::before {
    width: 20px;
    height: 21px;
    background-image: url("../../img/instagram-icon__mobile.svg");
  }
}
