.social-photos {
  box-sizing: border-box;
  width: auto;
  min-width: 1024px;
  max-width: 1366px;
  margin: 0 auto;
  margin-bottom: 127px;
  padding-right: 10px;
  padding-left: 10px;
}

.social-photos img {
  max-width: 107%;
  height: auto;
}

.social-photos__header {
  margin: 0;
  margin-bottom: 22px;

  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  text-align: center;
}

.social-photos__link {
  display: block;
  width: 64px;
  min-width: 80px;
  margin: 0 auto;
  margin-bottom: 60px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  font-family: "Poppins", "Arial", sans-serif;
  text-align: center;
  color: #1d1613;
  text-decoration: none;

  border-bottom: 1px solid #a87b62;
}

.social-photos__link:hover {
  opacity: 70%;
}

.social-photos__link:active {
  opacity: 50%;
}

.social-photos__items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.social-photos__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 240px;
  margin-right: 15px;
}

.social-photos__wrap:last-child {
  margin-right: 0;
}

.social-photos__wrap--small {
  width: 19%;
}

.social-photos__wrap--big {
  width: 34%;
}


@media (max-width: $desktop-width) {
  .social-photos {
    width: 768px;
    min-width: 768px;
    margin-bottom: 75px;
    padding-right: 5.8%;
    padding-left: 5.8%;
  }


  .social-photos__items {
    align-items: flex-end;
    min-width: 678px;
    height: 246px;
  }

  .social-photos__wrap--small {
    min-height: 245px;
  }
}

@media (max-width: $tablet-width) {
  .social-photos {
    flex-wrap: wrap;
    width: 320px;
    min-width: 320px;
    margin: 0 auto;
    margin-bottom: 35px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .social-photos__link {
    margin-bottom: 46px;
  }

  .social-photos__items {
    flex-wrap: wrap;
    align-items: flex-start;
    min-width: 290px;
    height: auto;
    min-height: 262px;
  }

  .social-photos__wrap {
    min-height: auto;
    margin-right: auto;
  }

  .social-photos__wrap--small {
    justify-content: space-between;
    box-sizing: border-box;
    width: 50%;
    height: 232px;
    margin-bottom: 15px;
  }

  .social-photos__wrap--small img {
    margin-bottom: 13px;
  }


  .social-photos__wrap--small:last-child {
    display: none;
  }

  .social-photos__wrap--small:nth-child(3) {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 121px;
  }

  .social-photos__img--square-jewellery {
    width: 130px;
    height: 115px;
  }

  .social-photos__img--big-stones {
    width: 130px;
    height: 87px;
  }

  .social-photos__img--stones-with-ocean {
    width: 130px;
    height: 115px;
  }

  .social-photos__img--woman {
    width: 145px;
    height: 226px;
  }

  .social-photos__img--hands-close-up {
    width: 145px;
    height: 221px;
  }

  .social-photos__wrap--small:nth-child(3) .social-photos__img--hands-close-up {
    margin-right: 0;
  }

  .social-photos__wrap--small:nth-child(3) .social-photos__img--stones-with-ocean {
    margin-right: 15px;
  }

  .social-photos__wrap--big {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    width: 50%;
    height: 226px;
    margin-bottom: 35px;
  }
}
