.subscribe {
  width: 43.4%;
}

.subscribe h2 {
  margin: 0;
  margin-bottom: 9px;

  list-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  color: #ffffff;
}

.subscribe p {
  margin: 0;
  margin-bottom: 41px;
  padding-left: 5px;

  font-size: 16px;
  line-height: 21px;
  color: #9b9997;
}

.subscribe input {
  margin: 0;
  padding: 0;

  list-style: none;
  font-family: "Poppins", "Arial", sans-serif;
  color: #ffffff;

  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  box-shadow: none;
}


.subscribe__sign-up button {
  position: relative;

  display: block;
  min-height: 30px;
  margin-left: auto;
  padding-right: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  font-family: "Poppins", "Arial", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.subscribe__sign-up button:hover {
  opacity: 70%;
}

.subscribe__sign-up button:active {
  opacity: 50%;
}

.subscribe__sign-up button::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 74px;

  width: 29px;
  height: 9px;

  background-image: url("../img/arrow-right-white-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.subscribe__sign-up form {
  display: flex;

  border-bottom: 1px solid #ffffff;
}

.subscribe__sign-up input::placeholder {
  font-size: 14px;
  line-height: 21px;
  color: #9b9997;
}

@media (max-width: $desktop-width) {
  .subscribe {
    width: 100%;
    margin-bottom: 40px;
  }

  .subscribe p {
    padding-left: 0;
  }

  .subscribe__sign-up button {
    padding-right: 54px;
  }

  .subscribe__sign-up button::after {
    top: 8px;
    left: 72px;
  }
}

@media (max-width: $tablet-width) {
  .subscribe {
    margin-bottom: 47px;
  }

  .subscribe input {
    width: 50%;
  }

  .subscribe__sign-up form {
    display: flex;
    justify-content: space-between;
  }

  .subscribe h2 {
    width: 195px;
    margin-bottom: 13px;
  }

  .subscribe p {
    width: 235px;
  }

  .subscribe__sign-up button {
    padding-right: 42px;
  }
}
