.subscribe {
  width: 43%;

}

.subscribe__header {

  list-style: none;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  color: #ffffff;
}

.subscribe__text {
  margin: 0;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 21px;
  color: #9b9997;
}

.subscribe input {
  box-shadow: none;
  outline: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  color: #ffffff;
  font-family: "Poppins","Arial",sans-serif
}


.subscribe__link {
  position: relative;
  display: block;
  min-height: 30px;
  margin-left: auto;
  padding-right: 40px;
  text-decoration: none;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.subscribe__link:hover {
  opacity: 70%;
}

.subscribe__link:active {
  opacity: 50%;
}

.subscribe__link::after {
  top: 5px;
  left: 65px;
  content: "";
  position: absolute;
  width: 29px;
  height: 9px;
  background-image: url("../../img/arrow-right-icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.subscribe__sign-up {
  display: flex;
  border-bottom: 1px solid #ffffff;
}

.subscribe__sign-up input::placeholder {
  font-size: 14px;
  line-height: 21px;
  color: #9B9997;
}

@media (max-width: $desktop-width) {
  .subscribe {
    margin-bottom: 40px;
    width: 100%;
  }

  .subscribe__link {
    padding-right: 60px;
  }

  .subscribe__link::after {
    top: 8px;
    left: 72px;
  }
}

@media (max-width: $tablet-width) {
  .subscribe {
    margin-bottom: 47px;
  }
  .subscribe__header {
    width: 195px;
    margin-bottom: 13px;
  }

  .subscribe__text {
    width: 235px;
  }

  .subscribe__link {
    padding-right: 42px;
  }
}
