.suggestion {
  position: relative;

  box-sizing: border-box;
  min-width: 1024px;
  max-width: 1366px;
  margin: 0 auto;
  margin-bottom: 94px;
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.suggestion--card {
  margin-bottom: 106px;
}

.suggestion__slider {
  box-sizing: border-box;
  width: 1170px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 51px;
  overflow: hidden;

  @media (max-width: 1360px) {
    width: 890px;
  }
}

.suggestion__header {
  margin: 0;
  margin-bottom: 24px;

  list-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  text-align: center;
}

.suggestion__link {
  display: block;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 60px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  font-family: "Poppins", "Arial", sans-serif;
  color: #1d1613;
  text-decoration: none;

  border-bottom: 1px solid #a87b62;
}

.suggestion__link:hover {
  opacity: 70%;
}

.suggestion__link:active {
  opacity: 50%;
}

.button {
  margin: 0;
  padding: 0;

  list-style: none;

  background: none;
  border: none;
}

.suggestion__button {
  position: absolute;

  width: 30px;
  height: 9px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.suggestion__button--left {
  top: 8%;
  left: 7%;

  background-image: url("../../img/arrow-left.svg");
}

.suggestion__button--right {
  top: 8%;
  right: 7%;

  background-image: url("../../img/arrow-right-icon.svg");
}

.suggestion__goods {
  width: 9999px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
  font-size: 0;

  transition: margin-left 250ms;
}

.suggestion__good {
  display: inline-block;
  box-sizing: border-box;
  width: 270px;
  margin-right: 30px;
}

.suggestion__good:last-child {
  margin-right: 0;
}

.suggestion__good a {
  text-decoration: none;
  list-style: none;
  color: #1d1613;
}

.suggestion__name {
  margin: 0;
  margin-bottom: 8px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.suggestion__name:hover {
  opacity: 70%;
}

.suggestion__name:active {
  opacity: 50%;
}

.suggestion__img {
  margin-bottom: 10px;
}

.suggestion__price {
  margin: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.suggestion__pages__list {
  width: 53px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
  text-align: center;
}

.suggestion__pages li {
  display: inline-block;
  margin-right: 10px;
}

.suggestion__pages li:nth-child(3) {
  margin-right: 0;
}

.suggestion__pages span {
  display: none;
}

.suggestion__page {
  margin-right: 15px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #9b9997;
  text-decoration: none;
}

.suggestion__page--hidden {
  display: none;
}

.suggestion__page:last-child {
  margin-right: 0;
}

.suggestion__page--active {
  color: #1d1613;
}

@media (max-width: $desktop-width) {
  .suggestion {
    box-sizing: border-box;
    width: 768px;
    min-width: 768px;
    margin-bottom: 63px;
    padding-right: 5.8%;
    padding-left: 5.8%;
  }

  .suggestion__img {
    width: 324px;
    height: 340px;
  }

  .suggestion--card {
    margin-bottom: 76px;
  }

  .suggestion__slider {
    width: 678px;
    height: 410px;
    margin-bottom: 36px;
  }

  .suggestion__button {
    width: 36px;
    height: 20px;
  }

  .suggestion__button--left {
    top: 7.5%;
    left: 5.9%;

    background-image: url("../../img/arrow-left-icon__tablet.svg");
  }

  .suggestion__button--right {
    top: 7.5%;
    right: 5.9%;

    background-image: url("../../img/arrow-right-icon__tablet.svg");
  }

  .suggestion__link {
    margin-bottom: 52px;

    line-height: 24px;
  }

  .suggestion__good {
    width: 324px;
  }

  .suggestion__page--hidden {
    display: block;
  }

  .suggestion__pages {
    width: 678px;
  }

  .suggestion__pages__list {
    width: 129px;
  }

  .suggestion__pages li:nth-child(3) {
    margin-right: 9px;
  }

  .suggestion__pages li {
    margin-right: 9px;
  }

  .suggestion__pages li:nth-child(6) {
    margin-right: 0;
  }
}

@media (max-width: $tablet-width) {
  .suggestion {
    width: 320px;
    min-width: 320px;
    margin-bottom: 51px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .suggestion--card {
    margin-bottom: 66px;
  }

  .suggestion__link {
    margin-bottom: 42px;
  }

  .suggestion__button {
    display: none;
  }

  .suggestion__img {
    width: 130px;
    height: 136px;
    margin-bottom: 6px;
  }

  .suggestion__name {
    margin-bottom: 7px;
  }

  .suggestion__slider {
    width: 290px;
    height: 245px;
    margin-bottom: 5px;
  }

  .suggestion__goods {
    display: flex;
  }

  .suggestion__good {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    width: 130px;
  }

  .suggestion__pages {
    position: relative;

    width: 290px;
  }

  .suggestion__pages__list {
    position: relative;

    width: 84px;
  }

  .suggestion__page {
    color: #1d1613;
  }

  .suggestion__pages li {
    margin-right: 0;
  }

  .suggestion__pages span {
    position: absolute;
    top: 0;
    left: 134px;

    display: inline-block;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    font-family: "Poppins", "Arial", sans-serif;
    color: #1d1613;
  }

  .suggestion__page--hidden {
    display: none;
  }
}
