body {
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #1d1613;
  background-color: #ffffff;
}


.img {
  max-width: 100%;
  height: auto;
}

.wrap-bg {
  background-color: #000000;
}

.title {
  margin: 0 ;
  margin-bottom: 15px;
  display: block;
  text-align: center;
  list-style: none;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  color: #ffffff;
}
