body {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #1d1613;
  background-color: #ffffff;
}


.img {
  max-width: 100%;
  height: auto;
}

.wrap-bg {
  background-color: #000000;
}
